.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.pokedex{
  text-align: center;
}

.pokemon-list{
  align-self: center;
  margin: auto;
  width: 50%;
}

li.media{
  border: 2px solid red;
}

.imgpkm{
  display: flex;
    align-items: center;
    
}